name: CI
on:
  push:
    branches:
      - release/*
  pull_request:
    branches:
      - release/*
  workflow_dispatch:
  issues:
    types: [ opened ]

jobs:
  Firebase:
    if: contains(github.event.head_commit.message, 'Send QA')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build APK again
        run: ./gradlew assembleDebug

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Verify Firebase CLI installation
        run: firebase --version

      - name: Create Firebase key file
        run: echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}" > firebase-key.json

      - name: Upload to Firebase App Distribution
        env:
          GOOGLE_APPLICATION_CREDENTIALS: firebase-key.json
        run: |
          firebase appdistribution:distribute app/build/outputs/apk/debug/app-debug.apk \
            --app ${{ secrets.FIREBASE_APP_ID }} \
            --groups "qa"

      - name: Clean up
        if: always()
        run: rm -f firebase-key.json
