
name: CI
on:
  push:
    branches: [ release ]
    paths:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches: [ release ]
  workflow_dispatch:
  issues:
    types: [ opened ]

jobs:
  package:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Compress APK
        run: zip -r app-debug.zip app/build/outputs/apk/debug/app-debug.apk

      - name: Upload a file to Google Drive
        uses: willo32/google-drive-upload-action@v1
        with:
          target: app-debug.zip
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          parent_folder_id: 1hkMqnYBwdcF7rlE3aacsR7K7bvO3GbOB

      - name: Send APK download link via email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_APP_PASSWORD }}
          subject: APK Build
          body: |
            The latest APK build is available for download in the shared folder: [Google Drive Folder](https://drive.google.com/drive/folders/1hkMqnYBwdcF7rlE3aacsR7K7bvO3GbOB?usp=sharing).
            Please use the following link to create a QA observation issue: [Create a new issue](https://github.com/rotarolasanchez/Portfolio/issues/new?assignees=&labels=qa&template=issue_template.md&title=%5BQA+Observation%5D)
          to: rotarolasanchez@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
