
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  issues:
    types: [opened]

jobs:
  package:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Compress APK
        run: zip -r app-debug.zip app/build/outputs/apk/debug/app-debug.apk

      - name: Upload a file to Google Drive
        uses: willo32/google-drive-upload-action@v1
        with:
          target: app-debug.zip
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          parent_folder_id: 1hkMqnYBwdcF7rlE3aacsR7K7bvO3GbOB

      - name: Make the file public and retrieve download link
        run: |
            curl -X POST \
              -H "Authorization: Bearer ${{ secrets.GDRIVE_ACCESS_TOKEN }}" \
              -H "Content-Type: application/json" \
              -d '{
                "role": "reader",
                "type": "anyone"
              }' \
              "https://www.googleapis.com/drive/v3/files/$(cat file_id)/permissions"
            
            PUBLIC_URL=$(curl -s -X GET \
              -H "Authorization: Bearer ${{ secrets.GDRIVE_ACCESS_TOKEN }}" \
              "https://www.googleapis.com/drive/v3/files/$(cat file_id)?fields=webViewLink" | jq -r .webViewLink)
            echo $PUBLIC_URL > public_url.txt

      - name: Send APK download link via email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_APP_PASSWORD }}
          subject: APK Build
          body: The latest APK build is available for download [here]($(cat public_url.txt)).
          to: rotarolasanchez@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}