
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  issues:
    types: [opened]

jobs:
  package:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Compress APK
        run: zip -r app-debug.zip app/build/outputs/apk/debug/app-debug.apk

      - name: Download gdrive binary
        run: |
          wget https://github.com/prasmussen/gdrive/releases/download/2.1.1/gdrive-linux-amd64 -O gdrive
          chmod +x gdrive
          ./gdrive version

      - name: Upload APK to Google Drive
        run: |
          echo "GDRIVE_REFRESH_TOKEN: ${GDRIVE_REFRESH_TOKEN:0:4}****"
          ./gdrive upload --refresh-token $GDRIVE_REFRESH_TOKEN --parent 1hkMqnYBwdcF7rlE3aacsR7K7bvO3GbOB app-debug.zip
        env:
          GDRIVE_CLIENT_ID: ${{ secrets.GDRIVE_CLIENT_ID }}
          GDRIVE_CLIENT_SECRET: ${{ secrets.GDRIVE_CLIENT_SECRET }}
          GDRIVE_REFRESH_TOKEN: ${{ secrets.GDRIVE_REFRESH_TOKEN }}

      - name: Send APK download link via email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_APP_PASSWORD }}
          subject: APK Build
          body: The latest APK build is available for download [here](https://drive.google.com/uc?id=1hkMqnYBwdcF7rlE3aacsR7K7bvO3GbOB&export=download).
          to: rotarolasanchez@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}